@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #DDDDDD;
    --primary-text-color: #1C1C1C;
    --secondary-text-color: #FFFFFF;
    --secondary-color: #2364AA;
    --tertiary-color: #3DA5D9;
    --tertiary-text-color: #808080;
    --last-color: #73BFB8;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato';
}

header {
    width: 100%;
    height: 600px;
    background-image: url('../img/capa2.jpg');
    background-position: center;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 65px;
}

.box-banner {
    width: 80%;
    height: 200px;
    position: absolute;
    bottom: 250px;
    /* background-color: burlywood; */
}

.box-banner-info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.box-background {
    width: 400px;
    height: 100%;
    position: absolute;
    background-color: var(--primary-text-color);
    opacity: 0.9;
}

.box-banner-title {
    width: 400px;
    position: absolute;
    color: var(--secondary-text-color);
    text-align: center;
}

.box-banner-title h1 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.box-banner-title p {
    font-size: 1.2rem;
}

.company-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
}

.company-info-background {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.9;
}

.company-info-title {
    position: absolute;
    top: 40px;
    width: 500px;
    color: var(--primary-text-color);
}

.company-info-title h2 {
    margin-bottom: 30px;
    font-size: 1.6rem;
}

.services {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.service-title {
    width: 350px;
    height: 150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-title p {
    color: var(--secondary-text-color);
    font-size: 18px;
    text-align: center;
}

.service-description h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.service-description p {
    font-size: 14px;
    line-height: 22px;
}

#gerenciamento-box {
    background-color: var(--secondary-color);
}

#dev-box {
    background-color: var(--tertiary-color);
}

#design-box {
    background-color: var(--last-color);
}

#gerenciamento-title {
    color: var(--secondary-color);
}

#dev-title {
    color: var(--tertiary-color);
}

#design-title {
    color: var(--last-color);
}

section:nth-child(3) {
    width: 100%;
    padding: 50px 0;
    background-image: url('../img/rodape.jpg');
    background-position: center;
}

.about {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 30px;
}

.about-card {
    padding: 30px;
    text-align: center;
    color: var(--tertiary-text-color);
    background-color: var(--secondary-text-color);
}

.about-card i {
    font-size: 50px;
    margin-bottom: 20px;
}

.form-data {
    width: 697px;
    height: 375px;
    position: relative;
    display: flex;
    margin-bottom: 50px;
}

.form-data-background {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-text-color);
    opacity: 0.5;
    position: absolute;
}

form {
    position: absolute;
    padding: 40px;
}

form input, textarea {
    display: block;
    width: 500px;
    border: none;
    padding: 10px;
    border-bottom: 1px solid var(--tertiary-text-color);
    margin-bottom: 15px;
    border-radius: 0;
    background-color: transparent;
    outline: 0;
}

form textarea {
    height: 120px;
    resize: none;
    margin-bottom: 30px;
}

form input::placeholder,
form textarea::placeholder {
    font-size: 14px;
    font-family: 'Lato';
}

form input[type="submit"] {
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-text-color);
    width: 100px;
    cursor: pointer;
    transition: 0.5s;
}

form input[type="submit"]:hover {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}

.copyright {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}